# =============================================================================
# ms-inventory - Inventory Service
# =============================================================================
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ms-inventory
  labels:
    app: ms-inventory
    app.kubernetes.io/name: ms-inventory
    app.kubernetes.io/component: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ms-inventory
  template:
    metadata:
      labels:
        app: ms-inventory
    spec:
      containers:
        - name: ms-inventory
          image: 478468757808.dkr.ecr.ap-south-1.amazonaws.com/ms-inventory:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3003
              name: http
          env:
            - name: NODE_ENV
              value: production
            - name: PORT
              value: "3003"
            - name: HOST
              value: "0.0.0.0"
            - name: DB_HOST
              value: postgres
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              value: inventory_db
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: PRODUCT_CATALOG_SERVICE_URL
              value: http://ms-product:3002
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "200m"
          readinessProbe:
            httpGet:
              path: /health
              port: 3003
            initialDelaySeconds: 15
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 3003
            initialDelaySeconds: 30
            periodSeconds: 10
