apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - gateway.yaml
  - virtualservice.yaml
  - peer-authentication.yaml
  - request-authentication.yaml
  - authorization-policy.yaml
  - envoyfilter-jwt-forward.yaml
  - kiali.yaml
