# =============================================================================
# ms-supplier - Supplier Service
# =============================================================================
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ms-supplier
  labels:
    app: ms-supplier
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ms-supplier
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: ms-supplier
    spec:
      containers:
        - name: ms-supplier
          image: 478468757808.dkr.ecr.ap-south-1.amazonaws.com/ms-supplier:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3004
          env:
            - name: NODE_ENV
              value: production
            - name: PORT
              value: "3004"
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_HOST
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              value: "supplier_db"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PASSWORD
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "200m"
          readinessProbe:
            httpGet:
              path: /health
              port: 3004
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 3004
            initialDelaySeconds: 20
            periodSeconds: 10
