# =============================================================================
# Prometheus - Persistent Volume Claim
# =============================================================================
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prometheus-storage
  namespace: observability
  labels:
    app: prometheus
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ebs-sc
  resources:
    requests:
      storage: 10Gi
