# =============================================================================
# Prometheus - Service
# =============================================================================
# NodePort 30090 exposed via NLB on port 9090
# =============================================================================
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: observability
  labels:
    app: prometheus
spec:
  type: NodePort
  ports:
    - name: http
      port: 9090
      targetPort: 9090
      nodePort: 30090
      protocol: TCP
  selector:
    app: prometheus
