apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../../base/istio

patches:
  - target:
      kind: PeerAuthentication
      name: default-mtls
    patch: |-
      - op: replace
        path: /spec/mtls/mode
        value: STRICT
