# =============================================================================
# Loki - Service
# =============================================================================
apiVersion: v1
kind: Service
metadata:
  name: loki
  namespace: observability
  labels:
    app: loki
spec:
  type: ClusterIP
  ports:
    - port: 3100
      targetPort: 3100
      protocol: TCP
      name: http
    - port: 9095
      targetPort: 9095
      protocol: TCP
      name: grpc
  selector:
    app: loki
