apiVersion: v1
kind: Service
metadata:
  name: cluster-autoscaler
  namespace: cluster-autoscaler
  labels:
    app: cluster-autoscaler
spec:
  type: ClusterIP
  selector:
    app: cluster-autoscaler
  ports:
    - name: metrics
      port: 8085
      targetPort: 8085
      protocol: TCP
