# =============================================================================
# Alertmanager - PVC (Production)
# =============================================================================
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: alertmanager-storage
  namespace: observability
  labels:
    app: alertmanager
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ebs-sc
  resources:
    requests:
      storage: 2Gi
