---
# ms-product Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ms-product
  labels:
    app: ms-product
    app.kubernetes.io/name: ms-product
    app.kubernetes.io/component: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ms-product
  template:
    metadata:
      labels:
        app: ms-product
        app.kubernetes.io/name: ms-product
    spec:
      containers:
        - name: ms-product
          image: 478468757808.dkr.ecr.ap-south-1.amazonaws.com/kubestock/ms-product:latest
          ports:
            - containerPort: 3002
              name: http
          env:
            - name: NODE_ENV
              value: production
            - name: PORT
              value: "3002"
            - name: DB_HOST
              value: postgres.$(NAMESPACE).svc.cluster.local
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              value: product_catalog_db
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "200m"
          readinessProbe:
            httpGet:
              path: /health
              port: 3002
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 3002
            initialDelaySeconds: 30
            periodSeconds: 10
---
# ms-product Service
apiVersion: v1
kind: Service
metadata:
  name: ms-product
  labels:
    app: ms-product
spec:
  ports:
    - port: 3002
      targetPort: 3002
      name: http
  selector:
    app: ms-product
